<div class="flex p-3 w-[80vw] items-center justify-center">
  <div class="relative flex justify-between items-center w-full p-4 mt-5 bg-gray-600/5 shadow-lg shadow-black/20 rounded-full h-12">
    <button class="text-black font-semibold hover:text-indigo-600">Shop</button>
    <button class="text-black font-semibold hover:text-indigo-600">Home</button>
    <button class="text-black font-semibold hover:text-indigo-600">Register</button>
    <button class="text-black font-semibold hover:text-indigo-600">Add A Product</button>
  </div>
</div>
